### Creating a subgraphs

In [36]:
import json
with open('example_knowledge_graph_for_training_data_generation.txt', 'r', encoding='utf-8') as f:
    data = f.read()
graph = json.loads(data)

In [37]:
id2name = dict()
for node in graph['nodes']:
    try:
        id2name[node['node_id']] = node['name']
    except:
        id2name[node['node_id']] = node['value']

In [38]:
failed = []
triples = ''
for edge in graph['edges']:
    try:
        head = id2name[edge['src_node']]
        relation = edge['type']
        tail = id2name[edge['dest_node']]
        triples+=f'<H> {head} <R> {relation} <T> {tail} '
    except:
        failed.append(edge)

In [39]:
triples.split('<H>')

['',
 ' cities <R> YIELDS <T> name ',
 ' cities <R> YIELDS <T> lat ',
 ' cities <R> YIELDS <T> lon ',
 ' zip_codes <R> YIELDS <T> city ',
 ' zip_codes <R> YIELDS <T> zip_code ',
 ' demographics <R> YIELDS <T> city ',
 ' demographics <R> YIELDS <T> age ',
 ' demographics <R> YIELDS <T> income ',
 ' demographics <R> YIELDS <T> population ',
 ' demographics <R> YIELDS <T> percentage_higher_educated ',
 ' energy_consumption <R> YIELDS <T> overall_energy_consumption ',
 ' energy_consumption <R> YIELDS <T> ev_consumption ',
 ' energy_consumption <R> YIELDS <T> domestic_consumption ',
 ' energy_consumption <R> YIELDS <T> corporate_consumption ',
 ' energy_generation <R> YIELDS <T> overall_energy_generation ',
 ' energy_generation <R> YIELDS <T> pv_generation ',
 ' energy_generation <R> YIELDS <T> heat_generation ',
 ' energy_generation <R> YIELDS <T> wind_generation ',
 ' weather <R> YIELDS <T> 2m_temperature ',
 ' weather <R> YIELDS <T> precipitation ',
 ' weather <R> YIELDS <T> snow ',
 ' weather <R> YIELDS <T> wind_speed ',
 ' sales <R> YIELDS <T> datetime ',
 ' sales <R> YIELDS <T> gross_profit ',
 ' sales <R> YIELDS <T> num_sales ',
 ' sales <R> YIELDS <T> category ',
 ' name <R> ABOUT_CONCEPT <T> city ',
 ' lat <R> ABOUT_CONCEPT <T> latitude ',
 ' lon <R> ABOUT_CONCEPT <T> longitude ',
 ' city <R> ABOUT_CONCEPT <T> city ',
 ' zip_code <R> ABOUT_CONCEPT <T> zip_code ',
 ' city <R> ABOUT_CONCEPT <T> city ',
 ' age <R> ABOUT_CONCEPT <T> age ',
 ' income <R> ABOUT_CONCEPT <T> income ',
 ' population <R> ABOUT_CONCEPT <T> population ',
 ' percentage_higher_educated <R> ABOUT_CONCEPT <T> higher_education ',
 ' overall_energy_consumption <R> ABOUT_CONCEPT <T> energy_consumption ',
 ' ev_consumption <R> ABOUT_CONCEPT <T> energy_consumption ',
 ' domestic_consumption <R> ABOUT_CONCEPT <T> energy_consumption ',
 ' corporate_consumption <R> ABOUT_CONCEPT <T> energy_consumption ',
 ' ev_consumption <R> ABOUT_CONCEPT <T> electric_vehicle ',
 ' domestic_consumption <R> ABOUT_CONCEPT <T> domestic ',
 ' corporate_consumption <R> ABOUT_CONCEPT <T> corporate ',
 ' overall_energy_generation <R> ABOUT_CONCEPT <T> energy_generation ',
 ' pv_generation <R> ABOUT_CONCEPT <T> photovoltaic ',
 ' heat_generation <R> ABOUT_CONCEPT <T> cogeneration ',
 ' wind_generation <R> ABOUT_CONCEPT <T> wind_power ',
 ' 2m_temperature <R> ABOUT_CONCEPT <T> temperature ',
 ' precipitation <R> ABOUT_CONCEPT <T> rain ',
 ' snow <R> ABOUT_CONCEPT <T> snow ',
 ' wind_speed <R> ABOUT_CONCEPT <T> wind_speed ',
 ' datetime <R> ABOUT_CONCEPT <T> moment_in_time ',
 ' gross_profit <R> ABOUT_CONCEPT <T> sale ',
 ' category <R> ABOUT_CONCEPT <T> sale_category ',
 ' city_name <R> EXAMPLE_VALUE <T> Amsterdam ',
 ' city_name <R> EXAMPLE_VALUE <T> Utrecht ',
 ' city_name <R> EXAMPLE_VALUE <T> Rotterdam ',
 ' city_name <R> EXAMPLE_VALUE <T> Veenendaal ',
 ' city_name <R> EXAMPLE_VALUE <T> Den Bosch ',
 ' wgs84_latitude <R> EXAMPLE_VALUE <T> 52.1 ',
 ' wgs84_latitude <R> EXAMPLE_VALUE <T> 50.43 ',
 ' wgs84_longitude <R> EXAMPLE_VALUE <T> 4.82 ',
 ' wgs84_longitude <R> EXAMPLE_VALUE <T> 5.12 ',
 ' zip_code <R> EXAMPLE_VALUE <T> 1425AM ',
 ' zip_code <R> EXAMPLE_VALUE <T> 5390CD ',
 ' zip_code <R> EXAMPLE_VALUE <T> 7543NB ',
 ' zip_code <R> EXAMPLE_VALUE <T> 9762WH ',
 ' years <R> EXAMPLE_VALUE <T> 23 ',
 ' years <R> EXAMPLE_VALUE <T> 43 ',
 ' years <R> EXAMPLE_VALUE <T> 51 ',
 ' years <R> EXAMPLE_VALUE <T> 73 ',
 ' euros <R> EXAMPLE_VALUE <T> 312.32 ',
 ' euros <R> EXAMPLE_VALUE <T> 43253.72 ',
 ' euros <R> EXAMPLE_VALUE <T> 6347.11 ',
 ' number <R> EXAMPLE_VALUE <T> 1337 ',
 ' number <R> EXAMPLE_VALUE <T> 9001 ',
 ' number <R> EXAMPLE_VALUE <T> 42 ',
 ' fraction <R> EXAMPLE_VALUE <T> 0.45 ',
 ' fraction <R> EXAMPLE_VALUE <T> 0.23 ',
 ' wh <R> EXAMPLE_VALUE <T> 2345 ',
 ' celcius <R> EXAMPLE_VALUE <T> 7.3 ',
 ' celcius <R> EXAMPLE_VALUE <T> 18.4 ',
 ' categorical <R> EXAMPLE_VALUE <T> ice_cream ',
 ' categorical <R> EXAMPLE_VALUE <T> umbrellas ',
 ' categorical <R> EXAMPLE_VALUE <T> clothing ',
 ' categorical <R> EXAMPLE_VALUE <T> tech ',
 ' categorical <R> EXAMPLE_VALUE <T> beverages ',
 ' name <R> FEATURE_UNIT <T> city_name ',
 ' lat <R> FEATURE_UNIT <T> wgs84_latitude ',
 ' lon <R> FEATURE_UNIT <T> wgs84_longitude ',
 ' city <R> FEATURE_UNIT <T> city_name ',
 ' zip_code <R> FEATURE_UNIT <T> zip_code ',
 ' city <R> FEATURE_UNIT <T> city_name ',
 ' age <R> FEATURE_UNIT <T> years ',
 ' income <R> FEATURE_UNIT <T> euros ',
 ' population <R> FEATURE_UNIT <T> number ',
 ' percentage_higher_educated <R> FEATURE_UNIT <T> fraction ',
 ' overall_energy_consumption <R> FEATURE_UNIT <T> mwh ',
 ' ev_consumption <R> FEATURE_UNIT <T> mwh ',
 ' domestic_consumption <R> FEATURE_UNIT <T> mwh ',
 ' corporate_consumption <R> FEATURE_UNIT <T> mwh ',
 ' overall_energy_generation <R> FEATURE_UNIT <T> mwh ',
 ' pv_generation <R> FEATURE_UNIT <T> mwh ',
 ' heat_generation <R> FEATURE_UNIT <T> mwh ',
 ' wind_generation <R> FEATURE_UNIT <T> mwh ',
 ' 2m_temperature <R> FEATURE_UNIT <T> celcius ',
 ' precipitation <R> FEATURE_UNIT <T> millimeters ',
 ' snow <R> FEATURE_UNIT <T> centimeters ',
 ' wind_speed <R> FEATURE_UNIT <T> kmh ',
 ' datetime <R> FEATURE_UNIT <T> datetime ',
 ' gross_profit <R> FEATURE_UNIT <T> euros ',
 ' num_sales <R> FEATURE_UNIT <T> number ',
 ' category <R> FEATURE_UNIT <T> categorical ']

### make graphs

1. What is the longitude value for Veenendaal?
2. How many umbrellas are sold?
3. What is the gross profit in euros on clothing this year?
4. What is the average income per person in Utrecht?
5. what is the average age in Amsterdam?
6. What fraction of people in Den Bosch are higher educated?
7. What is the average income of people aged 43?
8. What is the temperature in Veenendaal?
9. What are the coordinates of Amsterdam?
10. How many milimeters of rain fell in Rotterdam this year?
11. What is the popupulation of Veenendaal?
12. What is the profit on icecream?
13. What is the temperature in Veenendaal?
14. From what city is the zip code 1425AM?
15. The latitude 50.43 and longitude 52.15 correspond to which city?
16. 312.32 is the profit of what sale category?
17. What unit is used to measure wind speed?
18. What unit is used to indicate temperature?
19. Age can be measured with what unit?
20. Income, population and age are elements of what?

In [40]:
def make_graph(text, answer):
    result = f'<A> {answer} '
    triples = text.split('\n')[1:-1]
    for triple in triples:
        head, relation, tail = triple.split(',')
        result += f'<H> {head} <R>{relation} <T>{tail} '
    return result

In [41]:
# 1. What is the longitude value for Veenendaal?
g1 = make_graph(
'''
city_name, example_value, Veenendaal
name, feature_unit, city_name
cities, yields, name
cities, yields, lat
lat, feature_unit, wgs84_latitude
wgs84_latitude, value, 50.43
'''
, '50.43')

In [42]:
# 2. How many umbrellas are sold?
g2 = make_graph(
'''
sales, yields, category
category, feature_unit, categorical
categorical, value, umbrellas
sales, yields, num_sales
num_sales, feature_unit, number
number, value, 1337
'''
, '1337')

In [43]:
# 3. What is the gross profit in euros on clothing this year?
g3 = make_graph(
'''
sales, yields, category
category, feature_unit, categorical
categorical, value, clothing
sales, yields, gross_profit
gross_profit, feature_unit, euros
euros, value, 312.32
'''
, '312.32')

In [44]:
# 4. What is the average income per person in Utrecht?
g4 = make_graph(
'''
city_name, example_value, Utrecht
feature_unit, name, city_name
city, yields, city_name
demographics, yields, city
demographics, yields, income
income, feature_unit, euros
euros, value, 2683
'''
, '2683')

In [45]:
# 5. what is the average age in Amsterdam?
g5 = make_graph(
'''
city_name, example_value, Amsterdam
feature_unit, name, city_name
city, yields, city_name
demographics, yields, city
demographics, yields, age
age, feature_unit, years
years, value, 43
'''
, '43')

In [46]:
# 6. What fraction of people in Den Bosch are higher educated?
g6 = make_graph(
'''
city_name, example_value, Amsterdam
name, feature_unit, city_name
city, yields, city_name
demographics, yields, city
demographics, yields, education
demographics, about_concept, higher_education
education, feature_unit, fraction
fraction, value, 0.23
'''
,'0.23')

In [47]:
# 7. What is the average income of people aged 43?
g7 = make_graph(
'''
demographics, yields, age
age, feature_unit, years
years, value, 43
demographics, yields, income
income, feature_unit, euros
euros, value, 2683
'''
, '2683')

In [48]:
# 8. What is the temperature in Veenendaal?
g8 = make_graph(
'''
city_name, example_value, Veenendaal
name, feature_unit, city_name
city, yields, city_name
weather, yields, city
weather, yields, temperature
temperature, feature_unit, celcius
celcius, value, 18.4
'''
, '18.4')

In [49]:
# 9. What are the coordinates of Amsterdam?
g9 = make_graph(
'''
city_name, example_value, Veenendaal
name, feature_unit, city_name
cities, yields, name
cities, yields, lat
cities, yields, lon
lat, feature_unit, wgs84_latitude
wgs84_latitude, value, 54.43
lon, feature_unit, wgs84_longitude
wgs84_longitude, value, 40.43
'''
, '54.43 40.43')

In [50]:
# 10. How many milimeters of rain fell in Rotterdam this year?
g10 = make_graph(
'''
city_name, example_value, Amsterdam
name, feature_unit, city_name
city, yields, city_name
weather, yields, city
weather, yields, precipation
precipation, about_concept, rain
precipation, feature_unit, millimeters
millimeters, value, 9.4
'''
, '9.4')

In [51]:
# 11. What is the popupulation of Veenendaal?
g11 = make_graph(
'''
city_name, example_value, Veenendaal
name, feature_unit, city_name
city, yields, city_name
demographics, yields, city
demographics, yields, population
population, feature_unit, number
number, value, 65975
'''
,'65975')

In [52]:
# 12. What is the profit on icecream?
g12 = make_graph(
'''
sales, yields, category
category, feature_unit, categorical
categorical, value, icecream
sales, yields, gross_profit
gross_profit, feature_unit, euros
euros, value, 612.32
'''
, '612.32')

In [53]:
# 13. What is the temperature in Amsterdam?
g13 = make_graph(
'''
city_name, example_value, Amsterdam
name, feature_unit, city_name
city, yields, city_name
weather, yields, city
weather, yields, temperature
temperature, feature_unit, celcius
celcius, value, 18.4
'''
, '18.4')

In [54]:
# 14. From what city is the zip code 1425AM?
g14 = make_graph(
'''
city_name, example_value, Amsterdam
name, feature_unit, city_name
city, yields, city_name
zip_codes, yields, city
zip_codes, yields, zip_code
zip_code, value, 1424AM
'''
, 'Amsterdam')

In [55]:
# 15. The latitude 50.43 and longitude 52.15 correspond to which city?
g15 = make_graph(
'''
city_name, example_value, Rotterdam
name, feature_unit, city_name
cities, yields, name
cities, yields, lat
cities, yields, lon
lat, feature_unit, wgs84_latitude
wgs84_latitude, value, 50.43
lon, feature_unit, wgs84_longitude
wgs84_longitude, value, 52.15
'''
, 'Rotterdam')

In [56]:
# 16. 312.32 is the price of what profit category?
g16 = make_graph(
'''
sales, yields, category
category, feature_unit, categorical
categorical, value, clothing
sales, yields, gross_profit
gross_profit, feature_unit, euros
euros, value, 312.32
'''
,'clothing')

In [57]:
# 17. What unit is used to measure wind speed?
g17 = make_graph(
'''
wind_speed, feature_unit, kmh
'''
, 'kmh')

In [58]:
# 18. What unit is used to indicate temperature?
g18 = make_graph(
'''
temperature, feature_unit, celcius
'''
, 'celcius')

In [59]:
# 19. Age can be measured with what unit?
g19 = make_graph(
'''
age, feature_unit, years
'''
, 'years')

In [60]:
# 20. Income, population and age are elements of what?
g20 = make_graph(
'''
demographics, yields, income
demographics, yields, population
demographics, yields, age
'''
, 'demographics')

In [61]:
srcs = [g1,g2,g3,g4,g5,g6,g7,g8,g9,g10,g11,g12,g13,g14,g15,g16,g17,g18,g19,g20]
tgts = '''What is the longitude value for Veenendaal?
How many umbrellas are sold?
What is the gross profit in euros on clothing this year?
What is the average income per person in Utrecht?
what is the average age in Amsterdam?
What fraction of people in Den Bosch are higher educated?
What is the average income of people aged 43?
What is the temperature in Veenendaal?
What are the coordinates of Amsterdam?
How many milimeters of rain fell in Rotterdam this year?
What is the popupulation of Veenendaal?
What is the profit on icecream?
What is the temperature in Veenendaal?
From what city is the zip code 1425AM?
The latitude 50.43 and longitude 52.15 correspond to which city?
312.32 is the profit of what sale category?
What unit is used to measure wind speed?
What unit is used to indicate temperature?
Age can be measured with what unit?
Income, population and age are elements of what?'''.split('\n')

In [62]:
with open('src_custom.txt', 'w', encoding='utf-8') as s, open('tgt_custom.txt', 'w', encoding='utf-8') as t:
    for i in range(len(srcs)):
        s.write(srcs[i]+'\n')
        t.write(tgts[i]+'\n')

In [63]:
with open('original_questions.txt','w',encoding='utf-8') as f:
    [f.write(f'{i+1}. {e}\n') for i,e in enumerate(tgts)];

In [35]:
with open('new_preds.txt','w', encoding='utf-8') as f:
    f.write('''1. what is the name of the city that has a veenendaal '
2. what type of money does the umbrellas of the umbrellas have?
3. what type of money does the country that makes cervejaria kaiser palma
4. what is the name of the city that has the utrecht city as its currency 
5. what is the name of the city that has a metric unit of value of less than
6. what is the name of the city that has a higher_concept than 0 
7. what is the name of the currency of the country that has a governmental body of the
8. what is the name of the city that has a venendaal's
9. what is the name of the city that has a gdp value greater than 55
10. what is the name of the city that has a pound sterling as its currency?
11. what city has a population of less than 64975 and is the location of ve
12. what type of currency does the country that makes icecream have?
13. what is the name of the city that has the smallest city area of land?
14. what is the zip code of amsterdam?
15. what is the name of the city that has a gdp value greater than 51
16. what type of money does the country that uses the euro as currency has a nominal value of
17. what is the wind speed of the wind_speed?
18. what is the temperature of the area that the film  i love to be honest 
19. what is the age of the person who is in the movie  i love to be
20. what is the name of the population that produces a metric ton of money?''')